*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.cardgeral{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    padding-left: 2rem;
}

#button_show{
    margin: 2rem 2rem;
    width: 600px;
    padding: 1rem 0;
    border-radius: 20px;
    color: white;
    border: 0;
    transition: 0.4s;
    background:linear-gradient(128deg, rgba(81,11,84,1) 0%, rgb(115, 7, 165) 0%, rgb(73, 10, 110) 12%, rgba(213,18,213,1) 98%, rgba(189,17,189,1) 100%, rgba(0,0,0,1) 100%); ;

    &:hover{
        color: gold;
        transform: translateY(-3px);
        transition: 0.4s;
    }

    @media screen and (max-width:768px){
        width: 87vw;
        margin: 2rem 0 0 2rem;
    }
}

.cardnews {
    width: 55vw;
    .card{
        background-color: rgba(246, 251, 255, 0.823);
        padding: 1rem;
        line-height: 2rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
        border-radius: 1rem;

        p{
            font-weight: 400;
            color: rgba(0, 0, 0, 0.764);
        }

        h2{
            font-weight: bold;
        }

        a{
            text-decoration: none;
            transition: 0.5s;

            &:hover{
                color: purple;
                transition: 0.3s;
                background-color: rgba(255, 255, 0, 0.516);
                border-radius: 1rem;
                padding: .3rem;
                transform: translateY(-10px);
            }
        }
    }

    @media screen and (max-width:768px){
        width: 95%;
        
    }
}
